<!DOCTYPE html>
<html>
	<head>
		<title>The Helms Cahan Lab</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/research">Research</a></li>
        		<li><a href="/people">People</a></li>
    		    <li><a href="/publications">Publications</a></li>
 		       	<li><a href="/Data">Data</a></li>
     	 		<li><a href="/lab_news">Lab News</a></li>
    		</ul>
		</nav>
		<div class="container">
    	{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:scahan@uvm.edu">Email</a></li>
        		<li><a href="https://github.com/shelmscahan">Github</a></li>
			</ul>
		</footer>
	</body>
</html>